.containers {
    display: flex;
    flex-direction: column;
    /* background-color: #205020; */
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container-1, .container-2 {
    display: flex;
    justify-content: center;
}

.header {
    font-size: 50px;
    font-weight: 700;

}

.text {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}